<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-api</title>
</head>
<body>
    <h2>CLICK FOR COVID-API</h2>
    <button><a href="/covid/api">CLICK</a></button>
</body>
</html>